<div id="lists" class="transitions-enabled">
	<% @lists.each do |list| %>
		<div class="box panel panel-default">

			<div class="panel-body">
				<h2><%= link_to list.title, list%></h2>
				<div class="row">
					<p class="col-md-6 pull-right">$<%= list.rate %> Per Night</p>
				</div>
				<p class="user">Listed by: <%= list.user.email %></p>
			</div>
		</div>
	<% end %>
</div>