<div class="videoWrapper">
	<!-- <span>Welcome to PairBnb 🤔</span> -->
  <iframe width="1280" height="720" src="https://www.youtube.com/embed/ypR0y7GVMAQ?&rel=0&autoplay=1&controls=0&loop=1&showinfo=0&playlist=ypR0y7GVMAQ" frameborder="0" allowfullscreen></iframe>
</div>
